
###################################################
#               Template for .env file            #
#                                                 #
# Create .env file and                            # 
# put into ./project/project/settings/.env        #
#                                                 #
# Put the values without quotes like              #
# the comments above each variable                #
#                                                 #
# Usage in settings.py                            #
# env(variable_value, default=default_value)      #
# Example: env("DB_PORT", default="5432")         #
#                                                 #
###################################################   

##################
# DJANGO SESSION #
##################
# A boolean that turns on/off debug mode. Never deploy a site into production with DEBUG turned on.
# Dev example: DEBUG=1
DEBUG=True

#################################
# SERVER NAMES TO ALLOWED HOSTS #
#################################
# A list of strings representing the host/domain names that this Django site can serve separated by spaces
SERVERNAMES=localhost 127.0.0.1  

# A secret key for a particular Django installation.
# Dev example: SECRET_KEY=foo
SECRET_KEY='some_secret_key'

####################
# DATABASE SESSION #
####################
# A engine to connect the app to database
# Dev example: DB_ENGINE=django.db.backends.postgresql
DB_ENGINE=django.db.backends.sqlite3

# The name of the database 
# Dev example: POSTGRES_DB=scaffold_dev
POSTGRES_DB=db.sqlite3

# The user with permission to use the database 
# Dev example: POSTGRES_USER=postgres
POSTGRES_USER=postgres

# The user password with permission to use the database 
# Dev example: POSTGRES_PASSWORD=postgres
POSTGRES_PASSWORD=changethispassword

# The host address where is the database, if you using containers you can use the name of the db container in the same docker network  
# Dev example with container: DB_HOST=scaffold_db | without container: DB_HOST=localhost or container IPAddress
DB_HOST=localhost

# The port used to connect the database to the application
# Dev example: DB_PORT=5432
DB_PORT=5432

##################
# E-MAIL SESSION #
##################
# To manage email by console in dev mode use django.core.mail.backends.console.EmailBackend as EMAIL_BACKEND, you don' need fill the others variables
# To manage email by smtp in dev mode use django.core.mail.backends.smtp.EmailBackend as backend and fill the others variables
# Dev example:
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST="mail.ideamakr.com"
EMAIL_HOST_USER="donotreply@ideamakr.com"
DEFAULT_FROM_EMAIL="donotreply@ideamakr.com"
EMAIL_PORT=25
EMAIL_USE_TLS=False
SERVER_EMAIL="donotreply@ideamakr.com"
EMAIL_HOST_PASSWORD="some-password"
CUSTOMER_SERVICE_EMAIL="info@ideamaker.agency"

#######################
#     AWS SESSION     #     
#######################
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION_NAME=

#######################
# APPLICATION SESSION #
#######################
# Google tag manager id
GOOGLE_TAG_MANAGER_ID='your_id'

#Use this var to identify commit info at the top of the app - Don't use this in Production Environment
# The path points to where is the .git info
REPO_DIR=./

# Parameter used by costumers 
# CUSTOMER_SERVICE=customer@ideamaker.com
CUSTOMER_SERVICE=info@ideamaker.agency

# Django LOGGING
LOG_FILEPATH=
LOG_LEVEL=