{% extends '_base_materialize.html' %}
{% load static %}


{% block title %}Privacy Policy{% endblock %}


{% block main_content %}

  <section class="section-padding">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h1>Privacy Policy</h1>

      <br>
      <p>
      This Privacy Policy governs the manner in which this website collects, uses, maintains and discloses information
      collected from users (each, a 'User') of the website ('Website'). This privacy policy applies to the Website and all
      products and services offered by the company ('Company').

      <h3>What personal information is collected from users of the Website or app?</h3>

      <p>
      When ordering or registering on the Website, users may be asked to enter an email address, credit card
      information  or other details to help with the experience. Users can visit our site anonymously. However, some features
      of the Website may not be available to anonymous users. In addition, when you contact the Company by telephone, e-mail,
      in person, or through our website or app, you will be asked to provide consent to the collection of personal information
      if your personal information will help us deliver the information, products, or services you require.</p>

      <h3>What non-personal information is collected from users of the Website or app?</h3>
      <p>User information such as browser type, country of origin, operating system or other technical information
      may be collected in aggregate.
      </p>

      <h3>How does the Company use this information?</h3>

      <p>
      The Company may use the information collected in the following ways:
      </p>
      <ul>
          <li>To improve or personalize User experience.</li>
          <li>To improve customer service.</li>
          <li>To improve transactions processing.</li>
          <li>To send periodic emails.</li>
      </ul>

      <h3>How does the Company protect visitor information?</h3>

      <p>The Website utilizes appropriate data warehousing techniques, security, storage and processing measures to protect
      against unauthorized access of information gathered on the Website. Additionally, all transactions are processed
      through a gateway provider and are not stored or processed on our servers. However, the Company cannot guarantee
      or warrant the security of any information users transmit through the Website and users do so at their own risk.</p>

      <h3>Does the Website use 'cookies'?</h3>

      <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through
      your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and
      capture and remember certain information. For instance, the Website may use cookies to help remember and process the
      items in a shopping cart. They are also used to help the Company understand User preferences based on previous or
      current site activity, enabling the Website to offer improved services. The Website also uses cookies to help compile
      aggregate data about site traffic and site interaction in order to improve site experiences and tools in the
      future.</p>

      <p>Users can choose to have your computer warn you each time a cookie is being sent, or disable all cookies.
      Doing so may disable some of the features that make the Website experience more efficient and some of the services may
      not function properly.</p>

      <h3>Third Party Disclosure</h3>

      <p>The Company provides your information to third parties only for purposes to which you have consented, and we require
      such third parties to keep your information confidential.

      In a few situations, the Company may be required to disclose your information without your prior consent. For example,
      the Company may disclose your information if we are required to do so by law, or if we believe in good faith that such
      disclosure is necessary to:
      </p>
      <ul>
          <li>comply with law or legal process</li>
          <li>protect and defend our rights and property, or the rights and property of a third party</li>
          <li>protect against misuse or unauthorized use of any of the Company? products, services, or other proprietary materials</li>
          <li>protect the personal safety of any person</li>
          <li>allow for a change of ownership of the Company and associated transfer of all personal information to the new owner
          of the Company ?this does not affect the protection of your information under this privacy policy</li>
      </ul>
      <p>
      The Company will always try to provide you with prior notice of such disclosure; however, such notice may not always be
      possible or reasonable given the circumstances. Additionally, the nature of the services provided requires the routine
      use of your information in the provision of the services.  Your personal information will only be used to the limited
      extent necessary to provide the services that you have requested, and may include the following uses:
      </p>
      <ul>
          <li>in connection with the delivery of relevant services by website hosting partners and other parties who assist us in
          operating the Website</li>
          <li>to allow third parties to provide products and services to us or to you, or to act on our behalf (this may include,
          without limitation, our authorization of such third parties to email our users regarding updates, surveys and other
          inquiries regarding their experience with our service)</li>
          <li>to allow for audits and surveys to, among other things, validate the size and composition of the users of
          The Company's services, and understand their experience with The Company's service.</li>
      </ul>

      <h3>Third party links</h3>

      <p>Occasionally, the Company may include or offer third party products or services on the Website. These third party
      sites have separate and independent privacy policies. The Company and Website, therefore have no responsibility or
      liability for the content and activities of these linked sites. Nonetheless, the Company seeks to protect the integrity
      of the Website and welcome any feedback about these sites.
      </p>

      <h3>Protecting Children's Privacy</h3>

      The Website does not knowingly collect or maintain personally identifiable information from persons
      under 13 years of age, and no part of our Service is directed to persons under 13 years of age. If you are under 13 years
      of age, then please do not use or access the Service at any time or in any manner.

      <h3>Maintaining your personal information</h3>

      <p>If, for any reason, you wish to review your personal information that the Company has in its possession, you can
      contact us and we will be pleased to provide you with all your personal information that The Company has on file.
      </p>
      <p>
      Sometimes, it will be necessary for you to update your personal information the Company has on file. For example, if
      you move or change residence, you must update your information in order to keep receiving the services provided
      by the Company.  In many cases, you will be able to do so by changing your personal settings on your account.
      </p>
      <p>
      Additionally, you always have the choice of whether you wish to receive information ?such as e-mail updates ?from
      the Company.  In some cases, you may do so simply by changing the preferences in the software application through
      which the Company provides the services.
      </p>
      <p>
      If you do choose to opt out of communications respecting products and services provided by the Company, you may not
      obtain all the benefits we could otherwise provide, such as updates or warnings. The Company will not have any
      liability to you for your loss of those benefits or any negative effects respecting your use of the Company?
      products or services.
      </p>

      <h3>Changes to this Privacy Policy</h3>
      <p>Users will be notified of any privacy policy changes by email or by visiting the site.</p>

      <h3>User acceptance of these terms</h3>
      By using this Website, you signify your acceptance of this privacy policy. Continued use of the Website following
      any posting of changes to this policy will be deemed your acceptance of those changes.

      </div>
    </div>
  </section>

{% endblock %}
