{% extends 'account/_base_account.html' %}
{% load static %}
{% load bootstrap3 %}


{% block account_forms %}

    <h1 class="title">Password Reset</h1>
    <form id="reset_password_form" enctype="multipart/form-data" action="{% url 'account_reset_password' %}" method="POST" role="form">
        {% csrf_token %}
        {% bootstrap_form_errors form error_types='all' %}
        <div class="input-container">
          <p>We will email you a link to reset your password. </p>
          <p>Enter your email in the form below and press "Reset password".</p>
        </div>
        <div class="input-container">
        {% bootstrap_field form.email layout='inline' %}
        <div class="bar"></div>
        </div>

        <div class="button-container">
            <a href="{% url 'account_login' %}"><button id='cancel_button' class="waves-effect waves-light btn orange">Cancel</button></a>
            <button type="submit" class="waves-effect waves-light btn submit-button" value="Reset Password" />Submit</button>
        </div>

    </form>

{% endblock %}