{% extends "account/_base_account.html" %}
{% load static %}
{% load bootstrap3 %}

{% block account_forms %}
    <h1 class="title">Change Password</h1>
    {% bootstrap_messages %}
    <div class="custom-padding-2">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_form form layout='inline' %}
            <div class="button-container">
                <a href="{% url 'my_profile' %}">
                    <button type="button" class="waves-effects waves-light btn orange">Back</button>
                </a>
                <button type="submit" class="waves-effect waves-light btn submit-button " value="submit" />
                    Submit
                </button>
            </div> 
        </form>
    </div>   

{% endblock %}
