{% extends "account/_base_account.html" %}


{% block account_forms %}

    <h1 class="title">Check your inbox...</h1>
    <form class="form-signin">
      <div class="input-container">
          <p>We have sent you an email with instructions to reset your password.</p>
          <p>Please check your spam folder if you haven't received anything or contact us at</p>
          <p class="text-center">
            <a>{{email_contact}}</a>
          </p>
      </div>
      <div class="button-container">
          <a href="{% url 'home' %}" class="btn">Done</a>
      </div>
    </form>

{% endblock %}