{% extends "__base_account.html" %}


{% block title %}Password reset complete{% endblock %}


{% block navbar_links %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
{% endblock %}


{% block main_content %}
    <div class="center-block text-center login">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p>
                        Your password has been reset!  You may now <a href="{% url 'account_login' %}">log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
